<style>
  .feature-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>

<div class="page-width">
  <div class="tw-bg-white">
    <div class="tw-my-4">
      <h1 class="tw-text-center tw-font-bold tw-my-1 tw-text-2xl">STORY</h1>
      <p class="tw-text-center tw-text-sm tw-my-1">アーティストの想い</p>
    </div>
    <div class="tw-columns-2 lg:tw-columns-3 tw-gap-y-5 tw-gap-x-5">
      {%- for article in blog.articles -%}
        <div class="tw-break-inside-avoid-column tw-column">
          <a href="{{ article.url }}" class="group ">
            <div class="tw-w-full tw-overflow-hidden tw-rounded-lg">
              <img
                src="{{ article.image.src | image_url }}"
                alt="{{ article.image.src.alt | escape }}"
                class="tw-h-full tw-w-full tw-object-cover tw-object-center group-hover:tw-opacity-75 tw-rounded-lg"
                loading="lazy"
                height="auto"
                width="auto"
              >
            </div>
          </a>
          <div class="tw-mb-2">
            <p class="tw-text-sm lg:tw-text-base tw-text-gray-700">{{ article.title }}</p>
            <p class="tw-text-xs tw-font-medium tw-text-gray-600">
              {{ article.published_at | time_tag: format: 'date' }}
            </p>
          </div>
        </div>
      {% endfor %}
      <!-- More products... -->
    </div>
  </div>
</div>

{% schema %}
{
  "name": "記事一覧",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "記事一覧"
    }
  ]
}
{% endschema %}
