<style>
  .feature-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>

<div class="page-width">
  <div class="tw-bg-white">
    <div class="tw-my-4">
      <h2 class="tw-text-center tw-font-bold tw-my-1">STORY</h1>
      <p class="tw-text-center tw-my-1">アーティストの想い</p>
    </div>
    <div class="tw-columns-md tw-gap-y-5 tw-gap-x-5">
      {%- for article in blog.articles -%}
        <div class="tw-break-inside-avoid-column tw-column">
          <a href="{{ article.url }}" class="group ">
            <div class="aspect-w-1 aspect-h-1 tw-w-full tw-overflow-hidden tw-rounded-lg tw-bg-gray-200 ">
              <img
                src="{{ article.image.src | image_url }}"
                alt="{{ article.image.src.alt | escape }}"
                class="tw-h-full tw-w-full tw-object-cover tw-object-center group-hover:tw-opacity-75"
                loading="lazy"
                height="auto"
                width="auto"
              >
            </div>
          </a>
          <h3 class="tw-my-2 tw-text-xl tw-text-gray-700">{{ article.title }}</h3>
          <p class="tw-mt-0 tw-text-lg tw-font-medium tw-text-gray-900">{{ article.published_at | time_tag: format: 'date' }}</p>
        </div>
      {% endfor %}
      <!-- More products... -->
    </div>
  </div>
</div>

{% schema %}
{
  "name": "記事一覧",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "記事一覧"
    }
  ]
}
{% endschema %}
